.area-banner {
  position: relative;
}

.title-header {
  margin: 0 auto;
  color: white;
}

.img-banner {
  position: absolute;
  width: 100%;
  height: auto;
}

.title-header h1 {
  position: relative;
  top: calc(100vw / 7);
  text-align: center;
  font-size: calc(50px + 78 * (100vw - 320px) / 1333);
  font-weight: 100;
  line-height: 0.75;
  letter-spacing: 0.84;
  font-family: serif;
}

strong {
  font-family: "Anton", sans-serif;
}

.nav-pc-homepage {
  height: calc(100vw * 0.563);
  max-height: 1023px;
  z-index: -1;
}

.area-contents {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  max-width: 1100px;
  padding: 90px;
  border-radius: 10px;
  margin: 0 auto;
}

.content {
  margin-bottom: 60px;
}

.title {
  font-size: 36px;
  margin-bottom: 30px;
  font-family: "Anton", sans-serif;
  line-height: 1;
}

.data-content {
  text-align: justify;
  line-height: 1.3;
}

.area-contents-size {
  max-width: 630px;
  margin: 0 145px;
}

.note-content {
  font-size: 10px;
  opacity: 0.5;
  text-align: justify;
  line-height: 1.5;
  margin-top: 2px;
}

.area-Varese {
  background-color: white;
  margin: 0 auto;
  max-width: 1100px;
  padding: 90px;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
  position: relative;
  top: -180px;
}

.varese {
  max-width: 630px;
  margin: 0 auto;
}

.title-varese {
  text-align: center;
}

.content-varese {
  text-align: justify;
  line-height: 1.3;
}

.area-Journey {
  text-align: center;
}

.title-journey {
  margin: 10px auto 140px auto;
  font-size: 80px;
  letter-spacing: -2px;
  max-width: 950px;
}

.title span {
  font-size: 80px;
  font-weight: 400;
}

.img-banner-phone {
  display: none;
}

@media screen and (max-width: 1024px) {
  .area-contents-size {
    max-width: 780px;
    margin: 0 auto;
  }

  .area-Varese {
    top: -100px;
  }
}

@media screen and (max-width: 991px) {
  .title-journey {
    font-size: 60px;
    margin: 70px auto 100px auto;
  }
  .title-journey span {
    font-size: 75px;
    display: block;
  }
  .img-banner-phone {
    display: inline;
  }

  .img-banner-wd {
    display: none;
  }

  .nav-pc-homepage {
    height: 2000px;
  }

  .area-Varese {
    top: -50px;
  }
}

@media screen and (max-width: 810px) {
  .area-contents {
    max-width: 700px;
  }
  .area-contents,
  .area-Varese,
  .title-journey {
    max-width: 700px;
  }

  .title-journey h1 {
    font-size: 50px !important;
  }
}

@media screen and (max-width: 755px) {
  .nav-pc-homepage-of-buy-your-mv {
    height: 100vw !important;
  }

  .area-contents,
  .area-Varese,
  .title-journey {
    max-width: 550px !important;
  }

  .area-Varese {
    top: 100px;
    margin-bottom: 130px;
  }

  .title-header h1 {
    letter-spacing: 3;
  }
}
@media screen and (max-width: 650px) {
    .title-journey {
    font-size: 50px;
  }
  .title-journey span{
      font-size: 56px;
  }
}
@media screen and (max-width: 414px) {
  .area-contents,
  .area-Varese,
  .title-journey {
    max-width: 350px !important;
  }

  .title-journey h1 {
    font-size: 30px !important;
  }

  .area-Varese {
    top: 80px;
    margin-bottom: 80px !important;
  }

  .area-contents,
  .area-Varese {
    padding: 30px;
  }

  .title-journey {
    margin-bottom: 30px;
  }
}
