#content {
  padding: 130px 20px;
  padding-bottom: 170px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#content .ct-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(
      179.78deg,
      rgba(0, 0, 0, 0.75) 0.19%,
      rgba(0, 0, 0, 0) 19.35%
    ),
    url(../img/contact-us/mv_schiranna-xl.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top right;
}
#content .c_left {
  width: 40%;
  padding: 75px 0;
  display: flex;
  flex-direction: column;
}
.c_left * {
  padding-left: 10px;
  color: white;
  line-height: 100%;
}
.c_left-container {
  margin-bottom: 30vh;
}
.c_left-container:last-child {
  margin-bottom: 0;
}
.c_left-container h4 {
  font-family: "anton";
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 0.4px;
  margin-bottom: 5px;
}
.c_left-container p {
  font-family: "Bebas Neue";
  font-size: 50px;
  font-weight: 600;
}
.c_right {
  width: 60%;
  background-color: white;
  top: 100px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 10%;
}
.c_right h3 {
  font-family: "anton";
  margin-top: 20px;
  font-size: 50px;
  font-weight: 100;
  font-family: "anton";
  align-self: flex-start;
  margin-bottom: 20px;
}
.c_right span {
  max-width: 90%;
  align-self: flex-start;
  font-size: 18.5px;
  margin: 5px 0;
  font-family: "Questrial";
}
.c_right > span > strong {
  font-weight: 700;
  font-size: 18px;
}
.c_right > strong {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 100;
  font-family: "anton";
  align-self: flex-start;
  letter-spacing: 0.5px;
}
.c_right p {
  font-size: 18.5px;
  line-height: 150%;
  font-family: "Questrial";
}
@media screen and (max-width: 1500px) {
  #content {
    padding: 120px 20px;
    padding-bottom: 160px;
  }
  #content .c_left {
    padding-top: 45px;
  }
  .c_left-container {
    margin-bottom: 40vh;
  }
  .c_left-container p {
    font-size: 35px;
  }
  .c_right {
    width: 50%;
    padding: 32px 3%;
  }
  .c_right h3 {
    font-size: 35px;
    margin-bottom: 15px;
  }
  .c_right > strong {
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 990px) {
  #content {
    flex-direction: column;
    padding-top: 95px;
    padding-bottom: 10px;
  }
  #content .ct-bg {
    background-size: cover;
    background-position: center;
    background: linear-gradient(
        179.78deg,
        rgba(0, 0, 0, 0.75) 0.19%,
        rgba(0, 0, 0, 0) 19.35%
      ),
      url(../img/contact-us/mv_schiranna-m.jpg) no-repeat;
  }
  #content .c_left,
  #content .c_right {
    width: 100%;
  }
  .c_left * {
    line-height: 90%;
  }
  #content .c_left {
    padding: 0;
  }
  .c_left-container {
    text-align: center;
    margin-bottom: 50vh;
  }
  .c_left-container:last-child {
    margin-bottom: 25px;
  }
  #content .ct-bg {
    height: calc(100vw * 1.1);
    background-attachment: inherit;
    min-height: 660px;
  }
}
@media screen and (max-width: 767px) {
  #content {
    padding-bottom: 20px;
  }
  #content .ct-bg {
    height: calc(100vw * 1.78);
    min-height: 660px;
  }
  #content .c_right {
    padding: 32px 20px;
  }
  .c_right span {
    max-width: 95%;
    align-self: flex-start;
    font-size: 18.5px;
  }
  .c_right h3 {
    font-size: 30px;
  }
  .c_right p {
    font-size: 18.5px;
  }
}
@media screen and (max-width: 675px){
  #content {
    padding-bottom: 80px;
  }
}