
#body {
    display: flex;
    justify-content: center;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: ease-in-out 0.4s;
}

.Ride-App-History{
    height: 100%;
    width: 100%;
}

.history{
    background-image: url('../img/community-xl.png');
    background-size: cover;
    height: 830px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
}
.history_left{
    height: 100%;
    width: 550px;
}
.history_left h1{
    color: white;
    font-size: 80px;
    font-family: 'Anton', sans-serif;
    margin-top: 15px;
    margin-left: 15px;
}
.history_left h2{
    color: white;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    margin-left: 15px;
}
.history_left p{
    color: white;
    position: absolute;
    width: 550px;
    font-size: 20px;
}
.history_descr{
    position: relative;
    height: 100px;
    width: 500px;
    margin-left: 20px;
    margin-top: 450px;
}
.Ride-App-Moto-List{
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}
.Ride-App-Moto-List h1{
    font-family: 'Anton', sans-serif;
    font-size: 80px;
}
.moto_list_title{
    text-align: center;
    justify-content: center;
}
.moto_list_content{
    display: grid;
    grid-template-columns: repeat(4,25%);
    padding: 10px;
}
.moto_list_item{
    width: 100%;
    padding-top: 50px;
    text-align: center;
}
.moto_list_picture{
    width: 100%;
}
.moto_list_img{
    width: 100%;
}
.moto_list_name{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
.Ride-App-Mobi{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.mobi_app_left{
    width:  50%;
    height: 100%;
}
.mobi_app_title{
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20%;
    margin-left: 30%;
}
.mobi_app_descr{
    font-size: 20px;
}
.mobi_app_button{
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-left: 55%;
    margin-top: 10%;
}
.store1{
    margin-bottom: 5px;
}
.mobi_app_right{
    height: 100%;
    width: 550px;
}
.mobi_app_picture{
    height: 100%;
}
.mobi_app_img{
    height: 100%;
}

.Ride-App-Download{
   height: 850px;
   width: 100%;
}
.Download{
    justify-content: center;
    background-image: url("../img/download-bg-xl.jpg");
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
}
.dow-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.download_des{
    width: 60%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-left: 20%;
}
/*button download*/
.mobi-ride-app-button {
    position: absolute;
    margin-top: 30px;
    left: 40%;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    display: block;
    transition: 0.5s ease;
}


@keyframes transformTxtReverse-1 {
    0% {
        top: -100%;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}
@keyframes transformTxtReverse-2 {
    0% {
        top: -100%;
        opacity: 1;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}
@keyframes transformTxt-1 {
    0% {
        top: 0;
        opacity: 0.8;
    }

    100% {
        top: -100%;
        opacity: 0;
    }
}

@keyframes transformTxt-2 {
    0% {
        top: 0;
        opacity: 0;
    }

    100% {
        top: -100%;
        opacity: 1;
    }
}    
@media only screen and (max-width: 791px)
{
    .mobi_app{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .mobi_app_left{
        height: 50%;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobi_app_button{
        position: absolute;
        margin-top: 120%;
    }
    .mobi_app_right{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    
    .history{
        width: 100%;
        margin-top: 20%;
        background-image: url("../img/community-m.png");
    }
    .Container1{
        margin: 0px;
        /* display: none; */
    }
    .moto_list_content{
        /* display: none; */
        display: grid;
        grid-template-columns: repeat(2,50%);
    }
    .moto_list_item{
        justify-content: center;
        text-align: center;
       
    }
    .moto_list_picture{
        width: 100%;
    }
    .moto_list_img{
        width: 100%;
    }
    .moto_list_name{
        font-size: 30px;
    }
    .Download{
        background-image: url("../img/download-bg-s.jpg");
        background-size: cover;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .download_des{
        width: 60%;
        font-family: 'Anton', sans-serif;
        text-align: center;
        font-size: 20px;
        color: white;
        margin-left: 20%;
    }

    .mobi-ride-app-button {
        left: 35%;
    }
}
