* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto 100%;
}
.xxxxx{
  animation: 1s fades;
}
.motorPageHeader {
  width: 100vw;
  height: 150vh;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  min-height: 750px;
}
.motorPageHeader-Content {
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.motorPageHeader-Content-top {
  width: 100%;
  height: 10%;
  background-position: bottom;
  background-repeat: no-repeat;
  /* background-size: auto 18%; */
  margin-bottom: 10px;
  animation: fades 1.5s ease;
}
.motorPageHeader-Content-center {
  width: 100%;
  margin-top: 15px;
  /* height: 60%; */
}
.motorPageHeader-Content-center-top {
  width: 100%;
  /* height: 75%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.motorPageHeader-manifesto {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* animation: fades .5s ease-in-out; */
}
.motorPageHeader-manifesto p {
  font-family: "Anton", sans-serif;
  color: white;
  font-size: 580%;
  white-space: nowrap;
  line-height: 100%;
  position: relative;
  animation: transformTxtReverse 1s ease-in-out;
}
.motorPageHeader-Content-center-bottom {
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fades .75s ease;
}
.motorPageHeader-Content-center-bottom p {
  width: 60%;
  text-align: center;
  font-size: 110%;
  color: rgba(255, 255, 255, 0.8);
}
.motorPageHeader-Content-bottom {
  width: 100%;
  /* height: 20%; */
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fades .75s ease;
}
.motorPageHeader-Content-bottom p {
  text-align: center;
  width: 100%;
  font-size: 130%;
  font-weight: bold;
  color: white;
}

/* ------------------------body----------------------- */

.dr-container {
  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
  height: 58vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  background-size: contain;
  background-position: center;
  position: relative;
  min-height: 690px;
}
.dr-img,
.dr-img-mod {
  overflow: hidden;
  background-position: center;
  width: 100%;
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translateY(-60%) scale(0.9);
  z-index: 0;
  user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.dr-img-show {
  opacity: 1 !important;
}
.model3d {
  opacity: 0;
  transition: 1s ease;
  width: 100%;
  display: block;
  height: auto;
  position: absolute;
}
.model3d__show {
  opacity: 1 !important;
}
.model3d *{
  animation: none;
}
.dr-container-3ds {
  width: 100%;
  height: 100%;
  position: relative;
}

.model3d-items-lt {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.model3d-i {
  margin: 0 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 38px;
  background-color: transparent;
  border-radius: 20px;
  width: 58px;
  /* transition: 0.00s ease; */
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.m-i-l-bt {
  width: 23px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 8px;
  margin-right: 22px;
  position: relative;
  border: 1px solid white;
}
.m-i-l-bt span {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: black;
  display: block;
  position: absolute;
  left: 75%;
  border: 1px solid white;
}
.m-i-l-p {
  width: 180px;
  font-size: 11px;
  height: 30px;
  display: flex;
  opacity: 0;
  align-items: center;
  transition: all 0.5s ease;
  text-transform: uppercase;
  display: none;
  user-select: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.model3d-i__active {
  width: 45%;
  max-width: 300px;
  border-radius: 20px;
  justify-content: flex-start;
}
.model3d-i__active .m-i-l-p {
  opacity: 1 !important;
  display: flex;
}
.model3d-name {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;
  z-index: 10;
  flex-direction: column;
}
.model3d-inf-top {
  width: 100%;
  height: 40%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.model3d-name h4 {
  justify-self: center;
  align-self: center;
  text-align: center;
  /* color: #b69539; */
  color: black;
  font-size: 400%;
  font-family: "Anton", sans-serif;
  z-index: 1;
  font-weight: 900;
  /* padding-left: 40px; */
  /* -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(0, 6, 0, 0.05)); */
}
.model3d-name p {
  width: 100%;
  padding-left: 20px;
  color: black;
  font-size: 28px;
  display: flex;
  flex-direction: row;
}
.model3d-button {
  width: 260px;
  height: 55px;
  background-color: white;
  position: absolute;
  top: 35%;
  left: 5%;
  border-radius: 50px;
  border: 0px;
  font-size: 30px;
  color: black;
  cursor: pointer;
  z-index: 100;
  outline: none;
  display: none;
  box-shadow: rgb(185, 185, 185) 0px 3px 5px 0px;
  border: 2px solid white;
  font-weight: 550;
}
.model3d-button:hover {
  background: black;
  color: white;
}
.rotation-icon {
  position: absolute;
  bottom: 15px;
  left: 20px;
  cursor: pointer;
}
.model3d-body-tech {
  width: 100%;
  height: 100vh;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.model3d-body-tech-left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.75s ease;
  /* border-right: 3px solid #b8b6b6; */
  border-radius: 10px;
  /* box-shadow: rgb(185, 185, 185) 0px 3px 5px 0px; */
}
.model3d-body-tech-left-revered {
  /* border-left: 3px solid #b8b6b6; */
  border-right: 0;
}
.model3d-body-tech-left h4 {
  text-transform: uppercase;
  color: #a27b3e;
  font-size: 50px;
  text-align: left;
  font-weight: 500;
  width: 80%;
  transition: 0.75s ease;
}
.model3d-body-tech-left p {
  font-weight: lighter;
  font-size: 23px;
  width: 80%;
  font-family: serif;
  transition: 0.75s ease;
}
.model3d-body-tech-right {
  width: 50%;
  height: 75%;
  background-size: cover;
  background-position: top;
  outline: none;
  position: relative;
  /* border-radius: 5px; */
  overflow: hidden;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, rgba(0, 6, 0, 0.1));
  box-shadow: rgb(185, 185, 185) 0px 3px 5px 0px;
}
.model3d-body-tech-side {
  position: absolute;
  left: 0px;
  top: 0;
  outline: none;
  width: 100%;
  height: 150%;
  border-left: 5px solid #a27b3e;
  /* border-right: 5px solid #a27b3e; */
  /* background-image: url(../img/mask-imagewithtabs.svg); */
  background-position: left;
  background-size: cover;
  transition: 0.75s ease;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, rgba(0, 6, 0, 0.5));
  /* transform: scaleX(-1); */
}

.button-list {
  width: 80%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.button-small {
  margin-right: 13px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #a27b3e;
  border: 0;
  outline: none;
}

.button-small:hover,
.button-small:active {
  width: 30px;
  border-radius: 7px;
  border: none;
}
/* ----------------------------------------------- */
.motor-slide-img-layout {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.motor-slide-img-layout .react-slideshow-fade-images-wrap {
  height: 82vh;
}
/* ------------------------ */

@media screen and (max-width: 1145px) {
  .model3d-body-tech-right {
    width: 60%;
  }
  .model3d-body-tech-left {
    width: 40%;
  }
  .model3d-body-tech-side {
    background-size: cover;
  }
}

@media screen and (max-width: 1130px) {
  .model3d-button {
    top: 30%;
  }
}
@media screen and (max-width: 1120px) {
  /* .model3d-body-tech-side {
    background-image: none;
  }
  .model3d-body-tech-right {
    border-left: 7px solid #a27b3e;
  } */
}
@media screen and (max-width: 1000px) {
  .model3d-body-tech-left {
    width: 50%;
  }
  .model3d-body-tech-right {
    width: 50%;
  }
  .motorPageHeader {
    height: 120vh;
  }
  .dr-img,
  .dr-img-mod {
    transform: translateY(-60%) scale(1.1);
  }
}
@media screen and (max-width: 991px) {
  .dr-container {
    height: 80vw;
  }
}
@media screen and (max-width: 980px) {
  .motorPageHeader-Content {
    width: 100%;
  }
}
@media screen and (max-width: 950px) {
  .model3d-button {
    top: 28%;
    width: 235px;
    height: 50px;
  }
}
@media screen and (max-width: 905px) {
  .model3d-name h4 {
    font-size: 35px;
  }
}
@media screen and (max-width: 806px) {
  .model3d-inf-top {
    justify-content: center;
  }
  .model3d-inf-bottom {
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 7%;
  }
  .model3d-name h4 {
    padding: 0;
  }
  .model3d-name p {
    font-size: 21px;
  }
  .model3d-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80%;
    width: 260px;
    height: 40px;
    font-size: 22px;
    display: block;
  }
  .rotation-icon {
    display: none;
  }
  .model3d-body-tech-left p {
    font-size: 20px;
  }
  .model3d-body-tech-left h4 {
    font-size: 30px;
  }
}
@media screen and (max-width: 765px) {
  .motorPageHeader {
    height: 100vh;
  }
  .dr-container {
    height: 92vh;
  }
  .xxxxx {
    height: 100vh !important;
    transform: translateX(-10%);
  }
}
@media screen and (max-width: 750px) {
  .model3d-body-tech {
    position: relative;
    flex-direction: column;
  }
  .model3d-body-tech-left {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 10;
    height: 50%;
    background: linear-gradient(
      #f1f1f1,
      #f1f1f1,
      #f1f1f1,
      rgba(255, 255, 255, 0)
    );
  }
  .model3d-body-tech-right {
    height: 80%;
    width: 100%;
    border: none;
    background-position: top;
    /* -webkit-box-reflect: below 2px
      linear-gradient(transparent, transparent, rgba(0, 6, 0, 0)); */
    box-shadow: rgb(185 185 185) 0px 11px 6px -7px;
  }
  .model3d-body-tech-side {
    border-left: none;
  }
}
@media screen and (max-width: 700px) {
  .dr-img,
  .dr-img-mod {
    transform: translateY(-60%) scale(1.1);
  }
}
@media screen and (max-width: 635px) {
  .motorPageHeader-Content {
    width: 100%;
  }
}

@media screen and (max-width: 605px) {
  .model3d-inf-bottom p {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 500px) {
  .dr-img,
  .dr-img-mod {
    transform: translateY(-60%) scale(1.3);
  }
}
@media screen and (max-width: 560px) {
  .model3d-name h4 {
    font-size: 30px;
  }
}

@media screen and (max-width: 420px) {
  .dr-img,
  .dr-img-mod {
    background-size: auto 41%;
    background-position: center;
  }
  .model3d-name h4 {
    font-size: 29px;
  }
}

@media screen and (max-width: 413px) {
  .dr-img,
  .dr-img-mod {
    background-size: auto 40%;
    background-position: center;
  }
}
