.alpineDis-layout {
  width: 99vw;
  display: flex;
  height: auto;
  justify-content: center;
  margin-top: 33.5vh;
  margin-bottom: 33.5vh;
  position: relative;
}
.alpineDis-container {
  height: auto;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alpineDis-container h3 {
  margin-top: 25px;
  text-align: center;
  font-family: "Anton";
  text-transform: uppercase;
  font-size: 68px;
  width: 75%;
  line-height: 100%;
  letter-spacing: 2px;
  min-width: 480px;
}
.alpineDis-container p {
  margin-top: 5vh;
  width: 365px;
  font-size: 18px;
  text-align: center;
  font-family: "Questrial", auto;
}
.alpineDis-bt {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 246px;
  height: 52px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 2px;
}
.alpineDis-bt:hover {
  background-color: black;
}
.alpineDis-bt a {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
.alpineDis-bt:hover a {
  color: white;
  animation: transformTxtReverse 0.25s ease;
}
.alpineDis-bt:not(:hover) a {
  animation: transformTxt 0.2s ease;
}
.lmt-img-left {
  position: absolute;
  left: 0;
  height: 100%;
}
.lmt-img-right {
  position: absolute;
  right: 0;
  height: 100%;
}
.limited-edition__img {
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.alpineMotion-layout {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 19vh 0;
  min-height: 475px;
}
.alpineMotion-layout img{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.alpineMotion-container {
  position: relative;
  padding: 11vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
  width: 75%;
}
.alpineMotion-container span {
  /* margin-top: 20px; */
  font-size: 16px;
}
.alpineMotion-container h3 {
  margin-top: 6vh;
  text-transform: uppercase;
  font-family: "anton";
  font-size: 65px;
  letter-spacing: 1.5px;
  line-height: 100%;
  width: 675px;
}
.alpineMotion-container p {
  width: 400px;
  margin-top: 7vh;
  font-family: "Questrial", auto;
  font-size: 18px;
}
.alpineMotion-container a {
  margin-top: 7vh;
  font-size: 16px;
  font-weight: 900;
  padding: 15px 45px;
  padding-right: 56px;
  position: relative;
  border-radius: 2px;
  border: 1px solid black;
  transition: 0.25s ease;
  color: black;
}
.alpineMotion-container a::after {
  content: "";
  position: absolute;
  right: 40px;
  top: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-top: 6px solid transparent;
  border-left: 10px solid currentColor;
  border-bottom: 6px solid transparent;
}
.alpineMotion-container a:hover{
  background: black;
  color: white;
}
@media screen and (max-width: 1199px) {
  .alpineDis-layout {
    margin-top: 26vh;
    margin-bottom: 26vh;
  }
  .lmt-img-left {
    left: -5%;
  }
}
@media screen and (max-width: 990px) {
  .alpineDis-layout {
    margin-top: 24vh;
    margin-bottom: 24vh;
  }
  .lmt-img-left,
  .lmt-img-right {
    display: none;
  }
  .alpineMotion-container{
    width: 100%;
  }
  .alpineMotion-container h3{
    width: 380px;
  }
}
@media screen and (max-width: 565px) {
  .alpineDis-layout {
    margin-top: 140px;
    margin-bottom: 140px;
  }
  .alpineDis-container h3 {
    font-size: 40.5px;
    min-width: 350px;
  }
  .alpineMotion-container h3{
    width: 300px;
    font-size: 55px;
  }
}
