.designTips-layout {
  margin-top: 30px;
  width: 100vw;
  height: 120vh;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 400px;
}
.designTips-bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.designTips-bg::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.4)),
    to(rgba(0, 0, 0, 0.4))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.designTips-container {
  width: 80%;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.designTips-header span {
  font-family: "Domine", serif;
  font-size: 7.25rem;
  /* font-size: 5rem; */
  color: white;
  letter-spacing: -10px;
  line-height: 86%;
}
.designTips-header strong {
  font-family: "Anton", sans-serif;
  /* font-size: 6rem; */
  font-size: 5.11rem;
  color: white;
  line-height: 86%;
  letter-spacing: 1px;
}
.designTips-content {
  font-size: 1.1rem;
  margin-top: 40px;
  max-width: 540px;
  width: 75%;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.designTips-bt {
  margin-top: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.designTips-bt * {
  cursor: pointer;
}
.designTips-bt p {
  font-family: "Questrial";
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.1rem;
}
.bt-plus-icon {
  width: 30px;
  height: 30px;
  position: relative;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}
.bt-plus::before {
  position: absolute;
  content: "";
  background: #fff;
  border-radius: 50%;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.designTips-bt:hover .bt-plus::before {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.bt-plus:hover::before {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.bt-plus-icon::after {
  position: absolute;
  content: "+";
  top: 6.1px;
  font-weight: bolder;
  font-size: 18px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  .designTips-header span {
    font-size: 6rem;
  }
  .designTips-header strong {
    font-size: 4.9rem;
  }
}
@media screen and (max-width: 705px) {
  .designTips-container {
    width: 90%;
  }
  .designTips-header span {
    font-size: 5rem;
    letter-spacing: -7px;
  }
  .designTips-header strong {
    font-size: 4.11rem;
  }
}
@media screen and (max-width: 600px) {
  .designTips-layout {
    margin-top: 0px;
  }
  .designTips-header span {
    line-height: 90%;
  }
}
@media screen and (max-width: 550px) {
  .designTips-container {
    width: 90%;
  }
  .designTips-content {
    width: 90%;
  }
  .designTips-header span {
    font-size: 4rem;
    letter-spacing: -7px;
  }
  .designTips-header strong {
    font-size: 3.3rem;
  }
}
@media screen and (max-width: 991px) {
  .designTips-layout {
    height: 105vh;
  }
}
@media screen and (max-width: 550px) {
  .designTips-layout {
    height: 88vh;
  }
}
@media screen and (max-width: 450px) {
  .designTips-header span {
    font-size: 3.5rem;
    letter-spacing: -7px;
  }
  .designTips-header strong {
    font-size: 2.85rem;
  }
}
