.mv-assistant-layout {
  width: 100vw;
  height: 105vh;
  background: url(../img/background.jpg);
  position: relative;
  margin-top: 58px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  margin-bottom: 20px;
  min-height: 700px;
}
.mv-assistant-layout::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(0, 0, 0, 0.3)),
    to(rgba(0, 0, 0, 0.3))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}
.assistant-form {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
}
.assistant-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(1, 173, 230, 0.7) 45%,
    transparent 45%
  );
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 50%, transparent 50%); */
}
.assist-logo {
  margin-top: 10px;
}
.assist-header {
  display: flex;
  flex-direction: column;
  font-size: 45px;
  color: aliceblue;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
.assist-bt-lt {
  position: absolute;
  bottom: calc(9% + 10px);
  width: 254px;
  height: 39.6px;
  background-color: white;
  border-radius: 19px;
  overflow: hidden;
}
.assist-bt-lt:hover a {
  color: #01ade6;
}
.assist-bt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
  background: white;
  font-weight: 750;
  font-size: 18px;
  transition: 0.2s ease;
  font-style: normal;
}
@media screen and (max-width: 1445px) {
  .mv-assistant-layout {
    background-position: center;
  }
}
@media screen and (max-width: 991px) {
  .mv-assistant-layout {
    background-image: url(../img/background-m.png);
    background-position: right;
  }
}
@media screen and (max-width: 799px) {
  .assistant-form {
    width: 100%;
  }
  .assistant-container {
    width: 100%;
    background: none;
  }
}
