.mv-bg > div {
  width: 100%;
  height: 100%;
}
.mv-bg > div > div,
.mv-bg > div > div > div,
.mv-bg > div > div .react-slideshow-fade-wrapper {
  height: 100%;
}
.slideImgContentLayout {
  width: 40% !important;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.slideImgContentLayout_top {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}
.img-bg-title {
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  width: 220px !important;
  height: 55px !important;
}
.slideImgContentLayout_center {
  width: 100%;
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 0.1s ease !important;
}

.slideImgContentLayout_center .sp-ly {
  color: white;
  font-size: 600%;
  /* height: 95px; */
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slideImgContentLayout_center .sp-ly p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  line-height: 100%;
  color: inherit;
  font-family: "Bebas Neue", cursive;
  font-size: inherit;
  text-align: center;
  font-weight: 900;
  position: relative;
  animation: fades 0.5s ease-in-out, transformTxtReverse 1s ease-in-out;
}

.bt-layout {
  align-self: flex-end;
  width: 100%;
  margin-top: 10px;
  height: auto;
  display: flex;
  justify-content: center;
}
.bt-layout button {
  cursor: pointer;
}
.bt-layout button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slideImgContentLayout_center button {
  width: 220px;
  height: 55px;
  background-color: white;
  outline: none;
  border-radius: 2px;
  border: none;
  /* margin-top: 45px; */
  overflow: hidden;
  transition: .3s;
}
.slideImgContentLayout_center a {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 120%;
}
.slideImgContentLayout_center button:hover {
  background-color: transparent;
  border: 1px solid white;
}

.slideImgContentLayout_center button:hover a {
  animation: transformTxtReverse 0.35s ease;
  color: white !important;
}
.slideImgContentLayout_center button:not(:hover) a {
  animation: transformTxt 0.35s ease;
  color: black;
}
.mv-bg .react-slideshow-fade-images-wrap > div {
  height: 100%;
}
@keyframes transformTxt {
  0% {
    top: -90px;
    opacity: 0.5;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes transformTxtReverse {
  0% {
    top: 90px;
    opacity: 0.7;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@media screen and (max-width: 991px) {
  .mv-bg {
    height: 130vh;
  }
  .slideImgContentLayout {
    width: 100% !important;
  }
  .slideImgContentLayout_top {
    /* position: absolute; */
    height: 8% !important;
    padding-bottom: 0;
    top: 0;
  }
  .slideImgContentLayout_center {
    /* padding-top: 10%; */
    height: 80%;
    position: relative;
  }
  .bt-layout {
    position: absolute;
    bottom: 0%;
  }
  .img-bg-title {
    width: 185px !important;
    height: 53px !important;
  }
  .slideImgContentLayout_center .sp-ly {
    font-size: 510%;
    height: 64px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    width: auto;
    /* margin: 10px; */
    margin-top: 0;
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .img-bg-title {
    width: 165px !important;
    height: 45px !important;
  }
  .slideImgContentLayout_center .sp-ly {
    font-size: 500%;
    height: 64px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    width: auto;
    /* margin: 10px; */
    margin-top: 0;
    text-align: center;
  }
}
@media screen and (max-width: 800px) {
  .mv-bg {
    height: calc(100vw * 1.1);
  }
  .bt-layout {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 710px) {
  .slideImgContentLayout {
    width: 100% !important;
  }
  .img-bg-title {
    width: 150px !important;
    height: 45px !important;
  }
  .slideImgContentLayout_center .sp-ly {
    font-size: 350%;
    height: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    width: auto;
    /* margin: 10px; */
    margin-top: 0;
    text-align: center;
  }
  .bt-tt-sl {
    justify-self: flex-end;
    align-self: flex-end;
  }
}
@media screen and (max-width: 691px) {
  .mv-bg {
    height: calc(100vw * 1.2);
  }
}
@media screen and (max-width: 600px) {
  .mv-bg {
    height: calc(100vw * 1.25);
  }
}
@media screen and (max-width: 600px) {
  .mv-bg {
    height: 100vh;
  }
}
